{% extends 'base.html.twig' %}

{% block title %}Hello TableController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Hello
			{{ controller_name }}! ✅</h1>
		<p>
			Filas:
			{{ filas_tabla}}</p>
		<p>
			Columnas:
			{{ cols_tabla}}</p>

		<table class="table">
			<tr>
				{% for i in 1..cols_tabla %}
					<th>
						Col.{{i}}</th>
				{% endfor %}
			</tr>

			{% for fila in tabla %}
				<tr>
					{% for item in fila %}
						<td>{{item}}</td>
					{% endfor %}
				</tr>
			{% endfor %}


		</table>

		This friendly message is coming from:
		<ul>
			<li>Your controller at
				<code>C:/Users/wadmin/Documents/UD4/my_first_symf_project/src/Controller/TableController.php</code>
			</li>
			<li>Your template at
				<code>C:/Users/wadmin/Documents/UD4/my_first_symf_project/templates/table/index.html.twig</code>
			</li>
		</ul>
	</div>
{% endblock %}
